[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
oauth2client = "*"
google-cloud-iam = "*"
python-dateutil = "*"
requests = "*"
pynacl = "*"

[requires]
python_version = "3.8"
